<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDao">

    <!--insert表示执行语句
    id是一个唯一的标识,通常和接口对应的方法名相同
    parameterType表示对应参数类型,通常提供该类的全限定名(支持别名)-->

    <insert id="insertUser" parameterType="edu.hunau.cxb17.mybatis.pojo.User">
        <!--定义执行的sql语句-->
        <!--#{参数类对应的属性名}该属性必须提供getter方法-->
        insert into t_user(username,pwd,gender) values(#{username},md5(#{pwd}),#{gender})
    </insert>
</mapper>
